*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 70px;
}

.grid div{
    background: tomato;
    min-height: 100px;
}

.grid div:nth-child(5){
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: aliceblue;
}