html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    
}

a{
    font-size: 1.6rem;
}

.pai{
   width: 100vw; 
   height: 100vh;
   background-color: yellow;
}

.color-one{
    background: turquoise;
}

.color-two{
    background: lightseagreen;
}

p{
    font-size: 2rem;
}