@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
  --gap: 10px;
}

* {
  box-sizing: border-box;
  outline: 0; 
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;

}



form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;  
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.containerDeCima{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.containerDeCima p{
  font-weight: bold;
}

.containerDeCima ul{
  position: relative;
  right: 40px;
}

.paragrafo-resultado{
  background-color: aquamarine;
  padding: 10px 20px;
}

.bad-shit{
  background-color: crimson;
  padding: 10px 20px;
}

.relogio {
  font-size: 60px;
}

.relogio-pausado{
  color: red;
}

.caixa-de-texto{
  margin-left: 10px;
}

.input-de-contas{
  width: 337px;
  height: 50px;
  font-size: 40px;
  text-align: right;
}

.calculator-btns{
  width: 350px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2px;
}

.btn{
  width: 70px;
  height: 30px;
  margin: 3px;
  font-size: 18px;
  border: none;
  background-color: antiquewhite;
  cursor: pointer;
}

.btn:hover{
  background-color: beige;
  transition: all 0.3s ease;
}